<!DOCTYPE html>
<html>
<head>
    <title>ChatUser - $chatUser.getNickName()</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/dashboard/dashboard.css">
    <link rel="stylesheet" href="/myStyles.css">

</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">$chatUser.getNickName()</a>
    <ul class="navbar-nav px-3">
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                    ##                        <a class="nav-link active" href="/">
                        <a class="nav-link active" href="/">
                            <span data-feather="home"></span>
                            Main
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dht">
                            <span data-feather="file"></span>
                            DHT
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/routing">
                            <span data-feather="shopping-cart"></span>
                            Routing table
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/finder">
                            <span data-feather="shopping-cart"></span>
                            Finder
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Chatrooms</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>

                <ul class="nav flex-column mb-2">


                    #foreach ($chatRoom in $chatUser.getChatRoomsInvolved())
                        <li class="nav-item">
                            <a class="nav-link" href="/chatroom/$chatRoom.getName()">
                                <span data-feather="file-text"></span>
                                $chatRoom.getName()
                            </a>
                        </li>
                    #end



                </ul>


            </div>
        </nav>