#parse("public/parts/interfaceHead.vm")

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Finder</h1>
    </div>

    <form method="get" action="/finder">
        <div class="input-group">
            <input type="text" class="form-control" name="chatRoomName" placeholder="Try to search chatroom by name">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">find</button>
        </span>
        </div>
    </form>


    <br>

    #if( $searchQuery )

        #if($result)
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <p>Search result for: $searchQuery</p>
                    <p class="lead">Chatroom name <b>$result.getName()</b>, chatroom owner <b>$result.getOwnerId()</b>.</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Join chatroom</a>
                </div>
            </div>
        #else
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <p>Search result for: $searchQuery</p>
                    <p class="lead">No result</p>
                </div>
            </div>
        #end



    #end


</main>


#parse("public/parts/interfaceFooter.vm")
