#parse("public/parts/interfaceHead.vm")

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Chatroom manager</h1>
    </div>


    <h5>Search chatroom on network</h5>
    <br>

    <form method="get" action="/chatroommanager">
        <div class="form-group">
            <input type="text" class="form-control" name="chatRoomName" required="required" placeholder="Try to search chatroom by name">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <br>

    #if( $searchQuery )

        #if($result)
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <p>Search result for: $searchQuery</p>
                    <p class="lead">Chatroom name <b>$result.getName()</b>, chatroom owner
                        <b>$result.getOwnerId()</b>.</p>
                    <a class="btn btn-primary btn-lg" href="/joinchatroom?chatRoomName=$result.getName()"
                       role="button">Join chatroom</a>
                </div>
            </div>
        #else
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <p>Search result for: $searchQuery</p>
                    <p class="lead">No result</p>
                </div>
            </div>
        #end
    #end


    <br><br>

    <h5>Create new chatroom</h5>
    <br>
    <form method="post" action="/chatroommanager/new">
        <div class="form-group">
            <input type="text" class="form-control" required="required" name="newChatroomName" placeholder="Enter chatroom name">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>





</main>


#parse("public/parts/interfaceFooter.vm")
