#parse("public/parts/interfaceHead.vm")

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">routing</h1>
    </div>

    <div class="container">
        <div class="row">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">KademliaID</th>
                    <th scope="col">Adress</th>

                </tr>
                </thead>
                <tbody>

                    #foreach($contact in $chatUser.getContacts())

                    <tr>
                        <td>
                            $contact.getNode().getNodeId()

                            #if( $contact.getNode().getNodeId() == $chatUser.getKadNode().getNode().getNodeId())
                                (me)
                            #end

                        </td>
                        <td>$contact.getNode().getSocketAddress()</td>
                    </tr>

                    #end

                </tbody>
            </table>

        </div>
    </div>


</main>


#parse("public/parts/interfaceFooter.vm")
